@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}

.navbar-default {
  background: none;
}
.top-nav-bar{
    color: #FFF;
}

.top-nav-bar a{
    color: #FFF;
}
