@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}

.header{
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    z-index: 5;
}

.navbar-default {
  background: none;
}
.top-nav-bar{
    color: #FFF;

    a{
        color: #FFF;
        font-size: x-large;
    }
}

.white-box{
    background-color: #d8dbdd;
    padding: 105px 0;
    opacity: 0.8;
    margin: 120px 0px;

    h1{
        font-size: 50px;
        font-weight: bold;
    }

    h2{
        font-size: 55px;
        font-weight: bold;
        color: #ad6c12;
    }

    a{
        background-color: #FFF;
        font-size: 35px;
        text-decoration: none;
        color: #2c3a42;
        padding: 0 10px;
    }
}

.flavours-bg{
    background-color: #2a3b40;
}

.tastes-col{
    background-color: #d4d8d9;
}

.indian-plate{
    background-image: url(../images/bg2.jpg);
    background-position: center center;
    background-size: cover;
    padding: 50px 0;
}

.trasparent-bg{
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: saturate(180%) blur(10px);

    figure{
        margin: 0 0 0em;
    }

    h3{
        font-size: medium;
        font-weight: bold;
        text-transform: uppercase;
    }

    p{  
        font-weight: normal;
        font-size: 13px;
        padding: 0 60px;
    }
}