@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');


@import "_var.scss";
@import "_mixin.scss";


body{
    font-family: 'Raleway', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.header{
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    z-index: 5;
}

.navbar-default {
  background: none;
}
.top-nav-bar{
    color: #FFF;

    a{
        color: #FFF;
        font-size: x-large;
    }
}

.white-box{
    padding: 105px 0;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: saturate(180%) blur(10px);
    margin-bottom: 450px;

    @include heading;

    a{
        background-color: #FFF;
        font-size: 35px;
        text-decoration: none;
        color: #2c3a42;
        padding: 0 10px;
    }
}

.carousel-inner{
    height: 100vh;
}

.flavours-bg{
    background-color: #2a3b40;
}

.tastes-col{
    background-color: #d4d8d9;

    i{
        font-size: 20px;
        color: #2a3b40;
    }

    h6{
        font-weight: bold;
        padding-top: 15px;
    }
}

.indian-plate{
    @include img-bg;

    .row:first-child{
        padding-left: 5.2rem;
        padding-right: 5.2rem;
    }
}

.trasparent-bg{
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: saturate(180%) blur(10px);

    figure{
        margin: 0 0 0em;
    }
    
    @include heading2;

    h3{
        font-size: medium;
        font-weight: bold;
        text-transform: uppercase;
    }

    p{  
        font-weight: normal;
        font-size: 13px;
        padding: 0 50px;
    }
}

.col-traditional{
    
    background-image: url(../images/bg4.jpg);
    background-position: center center;
    background-size: cover;
    padding: 40px 0 10px 0;

    h2{
        font-weight: bold;
    }
    
    p{
        font-size: 14px;
        padding: 20px 20% 0;
        text-align: center;
    }

    i{
        color: #2a3b40;
    }

    a{
        text-decoration: none;
        color: #2a3b40;
        padding: 0 20px;
        font-weight: bolder;
    }
}

.col-discover{
    background-image: url(../images/bg5.jpg);
    background-position: left top;
    background-size: cover;
    padding: 180px 0 0 0;

}

.bg-menu{
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: saturate(180%) blur(10px);

    @include heading2;

    h3{
        font-size: medium;
        font-weight: bold;
        text-transform: uppercase;
    }

    p{  
        font-weight: normal;
        font-size: 13px;
        padding: 0 80px 0 0;
    }

    p strong{ font-size: 15px;}
}

.food-icons{
    width: 80px;
    height: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    border-radius: 50%;
}

.only-bg{
    background-image: url(../images/bg6.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.col-book{
    background-color: #2a3b40;
    color: #FFF;

    h1{
        font-size: xx-large;
        text-align: center;
    }

    .people-select{
        background-color: #2a3b40;
        border: white solid 1px;
        color: white;
    }

    [type="text"]{
        background-color: #2a3b40;
        border: white solid 1px;
        color: white;
    }

    [type="email"]{
        background-color: #2a3b40;
        border: white solid 1px;
        color: white;
    }

    [type="date"]{
        background-color: #2a3b40;
        border: white solid 1px;
        color: white;
    }

    [type="time"]{
        background-color: #2a3b40;
        border: white solid 1px;
        color: white;
    }

    ::placeholder {
        color: white;
    }

    .sub-btn{
        background-color: #2a3b40;
        border: white solid 1px;
        color: white;
        padding: 5px 0;
    }

}

.only-bg-2{
    background-image: url(../images/bg7.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.discover-bg{
    background-color: #d4d8d9;
    padding: 50px 0;
    
    @include heading2;

    figure{
        margin-bottom: 0;
    }

    figure img{
        width: 100%;
    }

    h6{
        font-size: small;
        margin-top: 0px;
    }

    h5{
        margin-top: 20px;
        font-size: small;
        font-weight: bold;
        color: #2a3b40;
    }
    
    p{
        font-size: small;
    }

    a{
        font-size: small;
        color: #2a3b40;
        border-bottom: #ff992b solid 5px;
        text-decoration: none;

        &:hover{
        color: #ff992b;
        }
    }
    
    
}

.user-reviwe{
    background-color: #2a3b40;

    i{
        font-size: xx-large;
    }

    p{
        padding: 30px 280px 0px 280px;
    }
    h4{
        padding: 0px 0 30px 0;
    }

    .social-icon i{
        font-size: larger;
        height: 40px;
        width: 40px;
        background-color: white;
        color: #2a3b40;
        border-radius: 50%;
        line-height: 43px;

        &:hover{
            background-color: #2a3b40;
            color: white;
        }
    }
}

.footer{
    h2{
        font-size: xx-large;
        text-transform: capitalize;
    }

    ul{
       list-style: none;
       padding-left: 0px;
       
        li a{
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
    }
}
